h1 a, h2 a {
    color: #C25100;
}
body {
    padding-left: 15px;
}
.main-title {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.main-title h1 {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.post-details p {
    color: #33B8FF;
    margin-bottom: 70px
}
.post-title h2, ..post-title h2 a, .post-title h2 a:visited, .post-title h2 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}